@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #ffffff;
  margin: 50px;
  box-shadow: 0 35px 55px rgba(182, 169, 169, 0.288);
}
.top {
  position: relative;
  width: 100vhpx;
  margin-top: 10px;
  height: 420px;
  background: linear-gradient(45deg, #7d7c81, #35349c);
  padding: 50px;
}
.group {
  position: relative;
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  margin-top: 20px;
}
.nav-item {
  font-family: "Poppins", sans-serif;
}